body {
    background-color: rgb(25, 22, 69); 
}
main {
    background-color: rgb(25, 22, 69); 
    color: #fff;
}

.home {
    display: flex;
    margin: 60px 180px 100px 180px;
}

.home-img {
    width: 300px;
    height: 300px;
}

.home-description {
    margin-left: 100px;
    font-family: "Permanent Marker", cursive;
    font-weight: 200;
    font-style: normal;
}

.title {
    margin-top: 95px;
    font-size: 21px;
}

.description {
    font-size: 20px;
    width: 384px;
}