/* src/App.css */
body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav li {
    margin: 0 10px;
}

section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

h2, h3 {
    text-align: center;
}
